name: repo-sync

on:
  schedule:
  - cron: '* * * * *'

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
    - name: repo-sync
      uses: wei/git-sync@v2
      if: ${{ github.repository != 'mattmoor/sync-source-repo' }}
      with:
        source_repo: "mattmoor/sync-source-repo"
        source_branch: "master"
        destination_repo: "https://x-access-token:${{ github.token }}@github.com/${{ github.repository }}.git"
        destination_branch: "master"
